body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center; /* Centrar verticalmente */
}

#content {
    width: 70%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
}

.center-text {
    text-align: center;
}

#text-input {
    margin-bottom: 20px;
}

#text-input p {
    margin: 0 0 10px;
}

#image-container {
    display: flex;
    justify-content: space-around;
}

.hoverable {
    transition: transform 0.3s, filter 0.3s;
}

.hoverable:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.back-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #45a049;
}

.footer {
    text-align: center;
    padding: 1em;
    background-color: #7b68ee;
    color: #fff;
    width: 70%;
    min-height: 50px;
    margin-top: auto;
    margin-bottom: 0; /* Eliminar cualquier margen inferior */
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 800px;
}

/* Eliminar márgenes de las secciones */
header,
.about,
.portfolio,
.contact {
    margin: 0;
}

/* Eliminar espacio alrededor de las imágenes en #image-container */
#image-container img {
    margin: 0;
}

#image-container {
    display: flex;
    justify-content: space-around;
}

#image-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Añade un borde para resaltar la imagen */
    padding: 5px; /* Añade un poco de espacio alrededor de la imagen */
    border-radius: 5px; /* Añade bordes redondeados a la imagen */
}

/* Estilo para el botón de retroceso */
.back-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #45a049;
}
