//* Reset de Estilos y Configuraciones Generales */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a23; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.sobrev
{
	justify-content:center;
	width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contact a
{
color:white;
text-decoration: none ;
}
.sobrev{
	background-color:#1b1b32;
	color:white;
}

.container-fluid,
.about,
.portfolio,
.footer,
.messi {
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    background-color: white; /* Azul oscuro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.messi{background-color:#1b1b32;
color:white;}
.footer1 {
    text-align: center;
    padding: 1em;
    background-color:;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    margin-top: auto;
}

/* Estilos del Encabezado */

header {
    text-align: center;
    padding: 1em;
}

/* Estilos de Secciones Comunes */

.about,
.portfolio,
.contact {
    max-width: 800px;
}



/* Estilos del Pie de Página */

.footer {
    text-align: center;
    padding: 1em;
}

/* Estilos de la Barra de Navegación */

.navbar {
    padding: 2rem;
    background-color:; /* Azul oscuro */
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Estilos de la Sección "Sobre Mí" */
.about{
	text-align:center;
}
.about img {
	justify-content:center;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

/* Estilos de la Sección "Experiencia" */

.experiencia {
    padding: 40px 40px 60px 40px;
}

.seccion-clara {
    color: black;
    background-color:white;
}

.experiencia .row div {
    height: 300px;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: grey;
    background-color: #1b1b32;
}

/* Estilos de la Sección "Proyectos" */

.proyectos-recientes {
    padding: 40px;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}



@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

/* Estilos de la Sección "Testimonios" */

.testimonios {
    padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.carousel-item .conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
}

.testimonio-info p {
    margin-bottom: 0;
}

.testimonio.footer .cliente {
    font-size: 1.2rem;
}

.testimonio.info .cargo {
    font-size: 0.9rem;
    color: #656060;
}

@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }
    .testimonio-texto {
        font-size: 18px;
    }
}

/* Estilos de la Sección "Contacto" */

.contact {
    padding: 40px 40px 80px 40px;
}

.contact .conteiner {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contact .rectangulo {
    margin-top: -5rem;
    background-color: #0d6efd; /* Azul claro */
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px;
}

.contact .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact .seccion-descripcion {
    color:black;
    font-size: 1.2rem;
}

.contact button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25rem 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contact button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contact button:hover {
    background-color: white;
    color: black;
}

.contact button:hover i {
    color: black;
}

/* Estilos del Pie de Página */

.footer {
    min-height: 50px;
    background-color: #1b1b32; /* Azul oscuro */
    color: #fff;
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.iconos-redes-sociales a {
	
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid #0a0a23; /* Fondo oscuro */
}

.iconos-redes-sociales a:hover i {
    color: #0a0a23; /* Fondo oscuro */
}

.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/* Media Queries adicionales si es necesario */

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
	}
